body {
    font-family: 'Arial', sans-serif;
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}
.container{
    padding-top: 250px;
    margin: 0 250px;
}
.fa{
    display: flex;
    font-family: sans-serif;
    margin-top: 0px;
    justify-content: center;
}

#ent{
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    
}
.inputFields{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 15px 150px;
}
.inputFields > *{
    margin:5px;
    border-radius: 6px;
    background-color: rgb(234, 234, 234);
}
.containerToken{
    display: flex;
    justify-content: center;
}
#tokenFirst{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 80px;
    line-height: 30px;
    word-break: break-all;
    width: 800px;
}