body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.section {
    margin-bottom: 30px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    max-height: 200px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: #f8f8f8;
}

.cart-total {
    background-color: #f8f8f8;
    padding: 15px;
    margin-top: 20px;
}

.profile-button, .home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-right: 10px;
}

.home-button {
    right: calc(100% - 20px - 130px);
}

.profile-button:hover,
.home-button:hover {
    background-color: #45a049;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.profile-button a,
.home-button a {
    color:#fff; 
    text-decoration: none;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

