@font-face {
  font-family: 'VCR';
  src: url('./font/VCR-OSD-Mono.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'VCR';
  font-size: 22px;
  color: white;
  word-break: normal;
}

:root {

  --backwiki: #1C1C1C;
  --outline: #303030;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(55, 0, 0, 1));

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation img {
  height: 45px;
  padding-bottom: 25px;
}

a {
  color: red;
  font-size: 22px;
}

h1 {
  font-size: 2rem;
  padding: 0 0 8px 8px;
}

h2 {
  font-size: 2rem;
  padding: 15px 8px;
  padding-top: 32px;
}

p {
  padding-top: 1rem;
}

.main-container {
  box-shadow: 5px 10px 15px black;
  border-radius: 16px;
  height: 45vw;
  display: flex;
  margin: 5% 10%;
  padding: 15px;
  background: var(--backwiki);
}

.navigation {
  padding: 15px;
  width: 20%;
  border-right: 2px solid var(--outline);
}

.item {
  font-size: 22px;
  padding-bottom: 5px;
}

.sub-item {
  font-size: 18px;
  padding-left: 6px;
}

.content {
  padding: 15px;
  width: 100%;
  overflow-y: auto;
  height: auto;
}

.img-content img {
  border-left: 2px solid var(--outline);
  padding: 15px;
  width: 200px;
}

.block {
  margin-top: 100px;
  display: flex;
}
