* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    word-break: break-all;
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../google-sans-v67-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root{
	--bg-color0: rgb(100,120,255);
	--bg-color1: rgb(160,180,255);
}

body{
	background-color:white;
}
body>*{
	margin-bottom: 25px
}

.first {
    display: flex;
    background-color: var(--bg-color0);
    justify-content: space-between;
}

.list {
    margin: 15px;
}

.dog {
    margin: 15px;
    height: 150px;
}

.two {
    display: flex;
    gap: 30px;
}

.two_text p {
    margin-bottom: 10px;
}

.two_text h2 {
    margin-bottom: 15px;
}

.two_text {
    margin: 15px;
}

.two_img {
    margin: 15px;
    height: 150px;
}

.three {
	padding:0 50px;
    background-color: var(--bg-color1)
}

.text_3 {
    margin-bottom: 15px;
    text-align: center;
}


.ppp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.da {
    display: flex;           
    align-items: flex-start; 
    gap: 15px;            
    flex: 1 1 45%;
}

.threemg {
    max-width: 150px;
    margin-bottom: 15px;      
}

.columns{
	padding: 0 150px;
	display: flex;
	justify-content:space-between;
}

.align1{
	display: flex;
	flex-direction: column;
	height:600px;
	width:500px;
	border: 5px solid var(--bg-color0);
	background-color: var(--bg-color0);
}
.title-align{
	background-color: var(--bg-color0);
	text-align: center;
	font-size:3rem;
}
.sec-title-align{
	background-color:white;
	text-align: center;
	font-size:3rem;
}
.text-container{
	padding:15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button{
	text-align: center;
	padding: 0.5rem;
	margin: 5px;
	background-color:white;
}
footer{
	padding: 2rem;
	text-align: center;
	background-color:var(--bg-color1);
	margin: 0;
}
