* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    word-break: break-all;
}

:root{
	--bg-color0: rgb(70,70,175);
	--bg-color1: rgb(100,100,200)
}

.first {
    display: flex;
    background-color: var(--bg-color);
    justify-content: space-between;
}

.list {
    margin: 15px;
}

.dog {
    margin: 15px;
    height: 150px;
}

.two {
    display: flex;
    gap: 30px;
}

.two_text p {
    margin-bottom: 10px;
}

.two_text h2 {
    margin-bottom: 15px;
}

.two_text {
    margin: 15px;
}

.two_img {
    margin: 15px;
    height: 150px;
}

.three {
    background-color: rgb(
}

.text_3 {
    margin-bottom: 15px;
    text-align: center;
}


.ppp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.da {
    display: flex;           
    align-items: flex-start; 
    gap: 15px;            
    flex: 1 1 45%;
}

.threemg {
    max-width: 150px;
    margin-bottom: 15px;      
}
